---
layout: default
---

<h1>Hello, I'm Erik.</h1>

<div class="home-hero">
	<img src="assets/img/eriktailor_profile_image.jpg" alt="ErikTailor profile image" />
	<p>I'm a designer and web developer located in Hungary. I like to craft unique projects, either in print, graphic and UI design or frontend and WordPress development. This blog is mostly for myself, to remember the useful stuff I recently learned, but if you like my approach, feel free to <a href="mailto:erno22szabo@gmail.com">contact</a> me.</p>
</div>

<hr />

<h2>Latest Articles</h2>

<ul class="article-list">
	{% for post in site.posts limit:5 %}
	<li>
		<a href="{{ post.url }}">{{ post.title }}</a>
		<time>{{ post.date | date: "%b %d" }}</time>
	</li>
	{% endfor %}
</ul>

<hr />

<h2>Technologies</h2>

<div class="tech-list">
	{% for item in site.data.technologies %}
	<img src="assets/img/technologies/{{ item.image }}" alt="{{ item.title }}" />
	{% endfor %}
</div>

<hr />

<h2>Tags</h2>

<ul class="tags-list">
	{% for tag in site.tags %} {% assign t = tag | first %}
	<li><a href="/{{ site.tag_page_dir }}/{{ t | slugify: 'pretty' }}.html">{{ t }}</a></li>
	{% endfor %}
</ul>
