{% include base.html %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head> 

		<!-- Basic metas -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- Stylesheet -->
		<link rel="stylesheet" href="{{base}}/assets/css/main.css" />

		{% seo %}

	</head>
	<body>

		{% include partials/header.html %}

		<main>
			<div class="container">{{ content }}</div>
		</main>

		{% include partials/footer.html %} 

		{% include partials/scripts.html %}
		
	</body>
</html>
